<div class="container">
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #primesForm="ngForm">

      <div class="form-group">
        <label for="url">Enter Primes Url:</label>
        <input type="text" id="url" name="url" #name="ngModel" class="form-control" 
          pattern="http://.*" size="50" required [(ngModel)]="url">
      </div>

      <div class="form-group">
        <label for="name">Enter a number N (1-1000000):</label>
        <input type="number" id="numFind" name="numFind" #name="ngModel" 
          min="1" max="1000000" class="form-control" required [(ngModel)]="numFind">
      </div>

      <div class="form-group">
        <label for="alterEgo">Enter number of calls to make (1-20):</label>
        <input type="number" id="numCalls" name="numCalls" #name="ngModel" 
          min="1" max="20" class="form-control" required [(ngModel)]="numCalls">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!primesForm.form.valid">Submit</button>
      &nbsp;
      <button type="button" class="btn btn-default" (click)="onReset();">Reset</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <div class="row">
      <div class="col-xs-3">Url:</div>
      <div class="col-xs-9">{{ url }}</div>
    </div>    
    <div class="row">
      <div class="col-xs-3">N:</div>
      <div class="col-xs-9">{{ numFind }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Calls to make:</div>
      <div class="col-xs-9">{{ numCalls }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Calls Completed:</div>
      <div class="col-xs-9">{{ callsCompleted }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Calls Remaining:</div>
      <div class="col-xs-9">{{ numCalls - callsCompleted }}</div>
    </div>    
    <br>
    <button type="button" class="btn btn-default" (click)="onReset();">Reset</button>
  </div>
</div>
<br>
<div *ngIf="submitted" class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Call Number</th>
      <th scope="col">Container ID</th>
      <th scope="col">Number of Primes</th>
      <th scope="col">Execution Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of primes; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ p.containerId }}</td>
      <td>{{ p.numberOfPrimes }}</td>
      <td>{{ p.elapsedTime }}</td>
    </tr>
    <tr *ngIf="numCalls - callsCompleted != 0">
      <td></td>
      <td>
        Waiting...
      </td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
